*{
    margin: 0;
    padding: 0;
}

header{
    max-width: 100%;
}

header .box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header h1{
    text-align: center;
    font-size: 70px;
    color: rgb(131, 40, 55);
    background: green;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 0px;
}
main .pug{
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 10px;
}


main .pug h3{
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 10px;
}

main .pug:hover{
    background-color: rgb(18, 153, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 10px;
}


section .hug{
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 10px;
}

section .hug:hover{
    background-color: rgb(102, 196, 9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 10px;
}

.Kp .cup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 10px;
}
.Kp .cup:hover{
    background-color: rgb(133, 65, 40);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 10px;
}

footer .guy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 10px;
}

footer .guy .low9{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

footer .guy .low10{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer .guy .low11{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    
}

footer .guy .low10{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
footer{
    top: -10px;
    background-color: rgb(104, 167, 42);
    display: flex;
    justify-content: space-between;
}

footer .row .footer-col-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(131, 40, 55);
    
}

header p{
    text-align: center;
    font-size: 30px;
    color: yellow;
    background: green;
}

header div{
    text-align: end;
    background: green;
    color: whitesmoke;
}



/* 
main .container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .container .card{
    position: relative;
}

main .container .card .face{
    width: 300px;
    height: 200px;
    transition: .4s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

main .container .card:hover .face.face1{
    transform: translateY(0);
    box-shadow: 
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}

main .container .card .face.face1 .content{
    opacity: .2;
    transition: 0.5s;
    text-align: center;
}

main .container .card:hover .face.face1 .content{
    opacity: 1;
}

main .container .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;
}

main .container .card .face.face1 .content h3{
    font-size: 1em;
    color: white;
    text-align: center;
}

main .container .card .face.face1 .content a{
    transition: .5s;
}


main .container .card .face.face2{
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
}

main .container .card:hover .face.face2{
    transform: translateY(0);
}

main .container .card .face.face2 .content p, a{
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: #333;
}

.main .container .card .face.face2 .content a{
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

.main .container .card .face.face2 .content a:hover{
    background: #333;
    color: whitesmoke;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

 */


/* }
main .pug img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .pug .low{
    align-items: center;
    padding: 77px;
    margin: 100px;
    display: flex;
    justify-content: center;
}

main .pug .low2{
    align-items: flex-end;
    padding: 77px;
    margin: 100px;
    display: flex;
    justify-content: flex-end;
} */

